<launch>

  <!-- Choose RVIZ -->
  <!--<arg name="rviz_local"  default="true"/>
  <arg name="rviz_global" default="true"/>-->

  <!-- Publish static transforms (base link to sensor links)-->
  <!--<include file="$(find robot_localization)/launch/static_tf_publisher.launch"/>-->

  <!-- Publish initial GPS transform (for local map frame setup) -->
  <!--<include file="$(find robot_localization)/launch/tf_publisher.launch"/>-->

  <!-- Load parameters for dual EKF + navsat_transform nodes -->
  <rosparam command="load" file="$(find robot_localization)/params/multimodel_ekf_navsat.yaml" />

  <!-- Launch local EKF node (Odom frame) -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local_straight"
        clear_params="true" output="screen">
    <remap from="odometry/filtered" to="odometry/filtered_local_straight"/>
  </node>

  <!-- Launch Global EKF node (Map frame) -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global_straight"
        clear_params="true" output="screen">
    <remap from="odometry/filtered" to="odometry/filtered_global_straight"/>
  </node>

  <!-- Launch local EKF node (Odom frame) -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local_curve"
        clear_params="true" output="screen">
    <remap from="odometry/filtered" to="odometry/filtered_local_curve"/>
  </node>

  <!-- Launch Global EKF node (Map frame) -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global_curve"
        clear_params="true" output="screen">
    <remap from="odometry/filtered" to="odometry/filtered_global_curve"/>
  </node>
  
  <!-- Launch Navsat_transform node -->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <remap from="gps/fix" to="navsat/fix"/>
    <remap from="imu/data" to="imu/data"/>
    <remap from="odometry/filtered" to="odometry/filtered_global_straight"/>
  </node>
 

  <!-- RVIZ-->
  <!--<node if="$(arg rviz_local)" pkg="rviz" type="rviz" name="rviz_local"
        args="-d $(find robot_localization)/viz/local.rviz"/>
  <node if="$(arg rviz_global)" pkg="rviz" type="rviz" name="rviz_global"
        args="-d $(find robot_localization)/viz/global.rviz"/>-->

</launch>
